/* press page css */
.container .nav1{
    margin-bottom: 100px;
}
.container .press_secton1{
    width: 100%;
    min-height: 300px;
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
}
.container .press_secton1 h1{
    color: #40196D;
    font-size: 50px;
    padding-bottom: 20px;
}
.container .press_secton1 p {
    padding-bottom: 10px;
}
.container .press_secton1 p .email{
    color: #40196D;
}
.container .press_secton1 button{
    background-color: #40196D;
    width:250px;
    height: 50px;
    color: #fff;
    margin-left: 30px;
    border-radius: 10px;
    font-size: 18px;
    font-family: sans-serif;
    border: 1px solid #40196D;
}
.container .press_secton2{
    width: 90%;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
} 
.container .press_secton2 .main{
    width: 85%;
    min-height: 300px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px 0px rgba(222,218,218,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(222,218,218,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(222,218,218,0.75);
}
.container .press_secton2 .main .part1{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}
.container .press_secton2 .main .part1 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.container .press_secton2 .main .part2{
    background-color: #fff;

}
.container .press_secton2 .main .part2 a{
    text-decoration: none;
   margin-bottom: 30px; 
   display: flex;
}
.container .press_secton2 .main .part2 a .style_me{
    display: block;
    width: 150px;
    padding-top: 5px;
    text-align: center;
    height:30px ;
    background-color: #DFE3FF;
    color: #8570AC;
}
.container .press_secton2 .main .part2 a .date{
    margin-left:250px;
}
.container .press_secton2 .main .part2 h3{
    color: #40196D;
    font-size: 20px;
}
.container .press_secton2 .main .part2 p{
    color: #7F7F7F;
}






/* about page css  */
.container .about_section1{
    width: 50%;
    text-align: center;
    margin: 30px auto;
}
.container .about_section1 h1{
    font-size: 40px;
    padding-bottom: 30px;
}
.container .about_section1 p{
    padding-bottom: 30px;
    font-size: 18px;
}
.container .about_section2{
    width: 50%;
    text-align: center;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container .about_section2 .box{
    width: 80%;
    min-height: 200px;
}
.container .about_section2 .box .image{
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
}
.container .about_section2 .box .image img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}




@media (max-width:800px) {
    
    .container .press_secton2{
        width: 90%;
        min-height: 500px;
        display: grid;
        grid-template-columns: 1fr ;
        margin: 50px auto;
    } 
    .container .press_secton2 .main{
        width: 100%;
        min-height: 400px;
    }
    .container .press_secton2 .main .part1{
        width: 80%;
        height: 200px;
        padding-right: 10px;
        margin-bottom: 20px;
    }
    .container .press_secton2 .main .part2{
        background-color: #fff;
        width: 80%;
    }
    .container .press_secton2 .main .part2 a .date{
        width:150px;
        margin-left:150px;
    }
      

    /* about us responsiveness */
   .container .about_section1{
    width: 90%;
    text-align: center;
    margin: 30px auto;
    }
    .container .about_section2{
        width: 90%;
        text-align: center;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .container .about_section2 .box .image{
        margin-bottom: 0px;
    }
}